<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <!--删除服务数据后要在配置节点里面删除对应节点（不会自动删除）-->
  <system.serviceModel>
    <services>
      <!--聊天协议，使用TCP而非HTTP-->
      <!--服务名必须是唯一的，不能重复-->
      <service name="NateChat_Server_Service.ChatService">
        <!--不同的通信协议，binding的绑定方式也不同-->
        <endpoint address="" binding="netTcpBinding" contract="NateChat_Server_Service.IChatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9999//ChatService" />
          </baseAddresses>
        </host>
      </service>
      <!--登陆协议-->
      <service name="NateChat_Server_Service.UsersService">
        <endpoint address="" binding="basicHttpBinding" contract="NateChat_Server_Service.IUsersService">
          <identity>
            <dns value="localhost" /><!--即使以后正式发布，也不用改localhost-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/NateChat_Server_Service/UsersService/" />
          </baseAddresses>
        </host>
      </service>     
      <service name="NateChat_Server_Service.Data.GroupService">
        <endpoint address="" binding="basicHttpBinding" contract="NateChat_Server_Service.Data.IGroupService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/NateChat_Server_Service.Data/GroupService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
